if SHIELD_HACKPADPLUSPLUS

config ZMK_KEYBOARD_NAME
    default "hackpadplusplus"

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif # ZMK_DISPLAY

endif # SHIELD_HACKPADPLUSPLUS
